---
---

@import 'features/video-equipment.scss';

$stone: hsl(210, 36%, 13%);
$stone--dark: hsl(210, 37%, 11%);
$pink: hsl(331, 79%, 49%);
$pink--soft: hsla(331, 79%, 49%, 0.12);
$orange: hsl(20, 100%, 55%);
$orange--soft: hsla(20, 100%, 55%, 0.12);
$snow: hsl(216, 6%, 83%);
$white: hsl(0, 100%, 100%);

$primary: hsl(344, 100%, 55%);
$subtle: hsl(211, 19%, 61%);
$background: $stone;
$text: $snow;
$font-stack: "Avenir Next", sans-serif;
$font-size: 20px;

$spacing: 40px;
$radius: 3px;

$shadow: 0 0 30px 0 hsla(0, 0%, 0%, 0.55);
$gradient: linear-gradient(-134deg, $pink 0%, $orange 100%);
$gradient--soft: linear-gradient(-134deg, $pink--soft 0%, $orange--soft 100%);

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: $primary;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: $background;
  color: $text;
  font-family: $font-stack;
  font-size: $font-size;
  line-height: 1.6;
}

code {
  font-family: Consolas, monospace;
}

p > code {
  color: $subtle;
  white-space: nowrap;
}

figure {
  background: $stone--dark;
  margin: 0;
  padding: $spacing 0;
  margin-left: -100%;
  padding-left: 100%;
  margin-right: -100%;
  padding-right: 100%;
  margin-bottom: $spacing;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;

  .subtle {
    .right {
      margin-top: 5px;
    }
  }
}

.article {
  h1, h2, h3, h4, h5, h6 {
    color: $orange;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: $spacing / 2;

  &.tight {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 38px;
}

.subtle {
  color: $subtle;
  font-size: 0.8em;
}

.right {
  float: right;
}

a {
  color: $primary;
  text-decoration: none;
  margin: 0;

  &:hover {
    color: $orange;
  }
}

img {
  max-width: 100%;
  margin: 0;

  .post & {
    border-radius: $radius;
    box-shadow: $shadow;
  }

  &.unstyled {
    box-shadow: none;
  }

  + em {
    color: $subtle;

    &::before {
      content: '╰ ';
      font-style: normal;
    }
  }

  &.left {
    float: left;
    margin: 20px 40px 20px -80px;

    @media screen and (max-width: 550px) {
      display: block;
      float: none;
      margin: 20px;
    }
  }

  &.right {
    float: right;
    margin: 20px -80px 20px 40px;
  }

  &.left, &.right {
    @media screen and (max-width: 550px) {
      display: block;
      float: none;
      margin: 20px 0;
    }
  }

  &.feature {
    width: 50%;

    @media screen and (max-width: 550px) {
      width: auto;
    }
  }
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 $spacing;
}

.title-bar {
  position: relative;
  background: $gradient;
  color: $white;
  padding: $spacing 0;
  margin-bottom: $spacing;

  h1, p {
    color: $white;
    margin: 0;
    position: relative;
  }

  .subtle {
    font-size: 0.6em;
    color: rgba($white, 0.7);
  }

  .overlay {
    box-shadow: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ff661a;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    background-blend-mode: hard-light;
  }
}

hr {
  height: 3px;
  border: none;
  display: block;
  background: $gradient;
  margin: 0;
  margin-bottom: $spacing;
}

#header, #footer {
  color: $white;
  text-align: center;
  padding-top: $spacing/2;

  h1 {
    margin: 0;
    margin-bottom: $spacing/4;

    span {
      font-size: 24px;
      color: $subtle;
    }

    &::before {
      content: '';
      background: url('{{ "/img/code.svg" | relative_url }}');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      width: 29px;
      height: 21px;
      margin-right: 12px;
      margin-bottom: 2px;
    }
  }

  > .container > a {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  nav {
    margin-bottom: $spacing;

    a {
      margin: 0 $spacing / 2;
    }

    i {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.github, .github:hover {
  color: $white;
}

.twitter, .twitter:hover {
  color: #1DA1F3;
}

.date {
  width: 100px;
  background: $white;
  text-align: center;
  border-radius: $radius;
  box-shadow: $shadow;

  .month {
    background: $primary;
    padding: 5px 0;
    color: $white;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 2px solid #333;
    border-radius: $radius $radius 0 0;
  }

  .day {
    margin: 0;
    font-size: 38px;
    line-height: 45px;
    padding-top: 5px;
    color: $stone;
    font-weight: 500;
  }

  .year {
    margin: 0;
    font-size: 13px;
    color: $stone;
    line-height: 15px;
    padding-bottom: 10px;
  }
}

.media {
  display: flex;
  flex-direction: row;
  margin-bottom: $spacing;

  .media-object {
    margin-right: $spacing;
  }

  .media-content {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.card {
  display: flex;
  border-radius: $radius;
  text-align: center;
  color: $white;
  margin-bottom: 30px;
  box-shadow: $shadow;
  flex: 1;
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  overflow: hidden;

  .caption {
    position: absolute;
    top: -1px; right: -1px; bottom: -1px; left: -1px;
    background: $gradient;
    opacity: 0;
    border-radius: $radius;
    color: $white;
    padding: 0 $spacing;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    h3 {
      font-weight: 600;
    }

    p {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &:hover {
    color: $primary;

    .caption {
      opacity: 0.95;
    }

    &.card--transparent {
      border: 2px solid $primary;
      box-shadow: $shadow;
    }
  }

  img, video {
    display: block;
    border-radius: $radius;
  }
}

.card--square {
  padding-bottom: 100%;
}

.card--transparent {
  box-shadow: none;
}

body .row {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.columns {
  position: relative;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  border: 12px solid $stone--dark;
  margin-bottom: 40px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

blockquote {
  font-style: italic;
  margin-left: 0;
  margin-bottom: $spacing;
  display: inline-block;
  font-size: 0.9em;
  color: $subtle;

  p {
    margin: 0;
  }
}

.buy {
  width: 200px;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 30px;
  padding: 5px 0;
  font-size: 17px;
  letter-spacing: 1px;
  transform: rotate(-45deg);
  background-color: $orange;
  color: white;
  top: 25px;
  right: -55px;
  font-weight: 600;
  left: auto;
  transform: rotate(45deg);
  transition: background 200ms ease-in-out;

  &:hover {
    background: $pink;
    color: white;
  }
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: $spacing;

  > div {
    flex: 1;
    padding: 0 10px;
    margin-bottom: 20px;
    min-width: 350px;
  }
}
