---
layout: page
---

<div class="row">
  <div class="small-12 columns">
    <h2 id="about">About</h2>
    <hr>
    <i>
    <p>Ahoy! I'm Adam &amp; I'm a Bristol based developer and founder of <a href="https://techtalks.io" target="_blank">TechTalks</a>.</p>
    <p>I'm CTO at <a href="https://bbcmaestro.com">BBC Maestro</a>. I was also previously a contract Ruby/JS developer, CTO of <a href="https://ordoo.co.uk">Ordoo</a> &amp; was a developer at <a href="https://simpleweb.co.uk/" target="_blank">Simpleweb</a>.</p>
    <p>I'm the organiser of <a href="https://meetup.com/bristoljs" target="_blank">Bristol JS</a>, a Ruby &amp; JavaScript developer, creative coder, speaker, photographer &amp; Hardware Hacker. I once connected a squirrel to the internet. True story.</p>
    <p><a href="/coffee" class="subtle">Fancy grabbing a coffee?</a></p>
    </i>

    <br>

    <h2 id="clients">Clients</h2>
    <hr>
    <i>
    <p>I switched to contracting in June 2020 to provide myself more time to work on <a href="https://techtalks.io" target="_blank">TechTalks</a>, so far here is the work I've done:</p>
    <br>

    <p><small><b><a href="https://developme.tech/">Develop Me Training</a></b> - March 2020 - Teacher</small></p>
    <p class="subtle">I did a week of teaching at Develop Me coving the "Advanced React" module.</p>

    <p><small><b><a href="https://tru.id/" target="_blank">Tru.id</a></b> - June - July 2020 - Front-end Development</small></p>
    <p class="subtle">Whilst Tru.id was in "stealth mode" I built an early landing page, user dashboard, integrated their authentication flow and bootstrapped their docs. It's an awesome project and great team, you should check them out.</p>

    <p><small><b><a href="https://freeagent.com" target="_blank">FreeAgent</a></b> - July 2020 - January 2021 - Ruby & JS Development</small></p>
    <p class="subtle">I contributed to a major feature that helps customers with their near-term cashflow. A little more about this <a href="https://www.freeagent.com/blog/new-cashflow-area/">here</a>.</p>
    <br>

    <p><small><b><a href="https://carescribe.io" target="_blank">CareScribe</a></b> - January 2021 - present - Ruby & JS Development</small></p>
    <p class="subtle">Working with a small team building various accessibility products. Helping to establish good development practice, automation and contribute to product development.</p>
    <br>
    <p>I'm next available from July 2021, <a href="mailto:adam@labfoo.dev">get in contact</a> if you'd like to work with me.</p>
    </i>
    <br>

    <h2 id="projects">Projects</h2>
    <hr>
    {% include grid.html posts=site.categories.projects type='project' permalink='/projects' size=4 %}

    <div class="row">
      <div class="small-12 large-6 columns">
        <h2 id="articles">Articles</h2>
        <hr>
        {% include feed.html posts=site.categories.articles type='article' limit=5 permalink='/articles' %}
      </div>
      <div class="small-12 large-6 columns">
        <h2 id="talks">Talks</h2>
        <hr>
        {% include feed.html posts=site.categories.talks type='talk' permalink='/talks' %}
      </div>
    </div>

    <br>

    <h2 id="experiments">Experiments</h2>
    <hr>
    {% include grid.html posts=site.categories.experiments type='experiment' permalink='/experiments' size=3 limit=7 %}

    <br>

    <h2 id="hacks">Hacks</h2>
    <hr>
    {% include grid.html posts=site.categories.hacks type='hack' permalink='/hacks' size=3 limit=7 %}

    <br>

    <h2 id="photography">Photography</h2>
    <hr>
    {% include photography.html posts=site.categories.photography type='photo' size=3 %}

  </div>
</div>
