{% if include.title or include.subtitle %}
  <div class="caption">
    <div>
      {% if include.title %}
        <h3 class="tight">{{ include.title }}</h3>
      {% endif %}
      {% if include.subtitle %}
        <p class="tight">{{ include.subtitle }}</p>
      {% endif %}
    </div>
  </div>
{% endif %}
