{% assign size = include.size | default: 4 %}
{% assign limit = include.limit | default: 3 %}
{% assign remaining = include.posts | size | minus: limit %}

{% for post in include.posts limit: limit | where "draft", false %}
  {% unless post.draft %}
    {% assign date = post.date | date: "%-d" %}
    {% case date %}
      {% when "1" or "21" or "31" %}{% capture date %}{{ date }}st{% endcapture %}
      {% when "2" or "22" %}{% capture date %}{{ date }}nd{% endcapture %}
      {% when "3" or "23" %}{% capture date %}{{ date }}rd{% endcapture %}
      {% else %}{% capture date %}{{ date }}th{% endcapture %}
    {% endcase %}
    {% capture date %}{{ date }} {{ post.date | date: "%B %Y" }}{% endcapture %}

    <div class="media">
      {% if include.type == 'talk' %}
        <div class="media-object">
          <div class="date">
            <div class="month">{{ post.date | date: "%B" }}</div>
            <div class="day">{{ post.date | date: "%-d" }}</div>
            <div class="year">{{ post.date | date: "%Y" }}</div>
          </div>
        </div>
      {% endif %}
      <div class="media-content">
        <div>
          {% if include.type == 'article' %}
            <p class="subtle tight">{{ date }}</p>
          {% endif %}

          <h3 class="tight"><a href="{{ post.link | default: post.url }}">{{ post.title }}</a></h3>

          {% if post.event_name %}
            <h4 class="tight">
              <i>
                at
                {% if post.event_url %}
                  <a href="{{ post.event_url }}">{{ post.event_name }}</a>
                {% else %}
                  {{ post.event_name }}
                {% endif %}
              </i>
            </h4>
          {% endif %}
        </div>
      </div>
    </div>
  {% endunless %}
{% endfor %}

{% if remaining > 0 %}
  <a href="{{ include.permalink }}">+ {{ remaining }} more</a>
{% endif %}
