<div id="footer">
  <hr>
  <div class="container">
    <p><a href="/coffee" class="subtle">Fancy grabbing a coffee?</a></p>
  </div>
  <div class="container">
    {% include nav.html %}
  </div>
</div>
