{% assign size = include.size | default: 4 %}
{% assign limit = include.limit | default: 5 %}
{% assign remaining = include.posts | size | minus: limit %}

{% if include.type == 'experiment' %}
  {% assign largest = 6 %}
{% elsif include.type == 'hack' %}
  {% assign largest = 6 %}
{% else %}
  {% assign largest = 12 %}
{% endif %}

<div class="row">
  {% for post in include.posts limit: limit %}
    {% assign date = post.date | date: "%-d" %}
    {% case date %}
      {% when "1" or "21" or "31" %}{% capture date %}{{ date }}st{% endcapture %}
      {% when "2" or "22" %}{% capture date %}{{ date }}nd{% endcapture %}
      {% when "3" or "23" %}{% capture date %}{{ date }}rd{% endcapture %}
      {% else %}{% capture date %}{{ date }}th{% endcapture %}
    {% endcase %}
    {% capture date %}{{ date }} {{ post.date | date: "%B %Y" }}{% endcapture %}

    <div class="small-{{ largest }} medium-{{ size }} columns flex-container">
      {% if post.video %}
        <a href="{{ post.link }}" class="card">
          <video autoplay="autoplay" width="100%" muted loop>
            <source src="{{ post.video }}.mp4" type="video/mp4" />
            <source src="{{ post.video }}.webm" type="video/webm" />
            <source src="{{ post.video }}.ogv" type="video/ogg" />
          </video>
          {% include caption.html title=post.title subtitle=post.subtitle %}
      </a>
      {% else %}
        <a href="{{ post.link }}" class="card card--square" style="background-image: url(/assets/{{ post.image }})">
          {% include caption.html title=post.title subtitle=post.subtitle %}
        </a>
      {% endif %}
    </div>
  {% endfor %}

  {% if remaining > 0 %}
    <div class="small-{{ largest }} medium-{{ size }} columns flex-container">
      <a href="{{ include.permalink }}" class="card card--transparent">
        <div>
          <h1 class="tight">+ {{ include.posts | size | minus: limit }}</h1>
          <p class="tight">{{ remaining }} more</p>
        </div>
      </a>
    </div>
  {% endif %}
</div>
