<nav>
  <a href="/#about">about</a>
  <a href="/#projects">projects</a>
  <a href="/#articles">articles</a>
  <a href="/#talks">talks</a>
  <a href="/#hacks">hacks</a>
  <a href="/#photography">photography</a>

  <a href="https://github.com/adambutler" class="github" target="_blank">
    <i class="icon-github"></i>
  </a>

  <a href="https://twitter.com/labfoo" class="twitter" target="_blank">
    <i class="icon-twitter"></i>
  </a>
</nav>
