{% for post in include.posts %}
  {% assign date = post.date | date: "%-d" %}
  {% case date %}
    {% when "1" or "21" or "31" %}{% capture date %}{{ date }}st{% endcapture %}
    {% when "2" or "22" %}{% capture date %}{{ date }}nd{% endcapture %}
    {% when "3" or "23" %}{% capture date %}{{ date }}rd{% endcapture %}
    {% else %}{% capture date %}{{ date }}th{% endcapture %}
  {% endcase %}
  {% capture date %}{{ date }} {{ post.date | date: "%B %Y" }}{% endcapture %}

  <h3>
    <span>{{ post.title }}</span>
    <span class="subtle">/ {{ date }}
      <a href="{{ post.link }}" target="_blank" class="right">View all</a>
    </span>
  </h3>
  <div class="row">
    {% for image in post.images %}
      <div class="small-6 medium-{{ size }} columns flex-container">
        <a href="{{ post.link }}" target="_blank" class="card card--square" style="background-image: url({{image}})"></a>
      </div>
    {% endfor %}
  </div>
{% endfor %}
