@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?icdp0h');
  src:  url('icomoon.eot?icdp0h#iefix') format('embedded-opentype'),
    url('icomoon.ttf?icdp0h') format('truetype'),
    url('icomoon.woff?icdp0h') format('woff'),
    url('icomoon.svg?icdp0h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
