---
layout: default
---


{% if page.title %}
  <div class="post">
    <div class="title-bar">
      <div class="container">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
{% endif %}

<div class="container">
  {{ content }}
</div>
