---
layout: default
---

{% assign date = page.date | date: "%-d" %}
{% case date %}
  {% when "1" or "21" or "31" %}{% capture date %}{{ date }}st{% endcapture %}
  {% when "2" or "22" %}{% capture date %}{{ date }}nd{% endcapture %}
  {% when "3" or "23" %}{% capture date %}{{ date }}rd{% endcapture %}
  {% else %}{% capture date %}{{ date }}th{% endcapture %}
{% endcase %}

{% capture date %}{{ date }} {{ page.date | date: "%B %Y" }}{% endcapture %}

<div class="post">
  <div class="title-bar">
    {% if page.overlay %}
      <div style="background-image: url({{ page.overlay }});" class="overlay"></div>
    {% endif %}
    <div class="container">
      <h1>{{ page.title_long | default: page.title }}</h1>
      <p>{{ date }}</p>
    </div>
  </div>

  <div class="container article">
    {{ content }}
  </div>
</div>
